logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/Procfile.bak
/.target
/bin
.pgpass
tmpgit
/DBBackups
/sim
/simnew
redmine_key.txt
*.log
activator-sbt-echo-play-shim.sbt
project/activator-sbt-echo-play-shim.sbt
*.ucls
.DS_Store
projectFilesBackup*
csv.txt
projectFilesBackup/
/.externalToolBuilders/
